<ion-view title="Showroom"  cache-view="false" >
	<ion-content >
		
		<h1 style="padding-left: 10px;">Busqueda por : </h1>
		<h1 style="text-align: center;">




			<label class="item item-input ingresar" >
				<button class="button button-block colorbtn " type="button"  ng-click="getVariedad('Nombre')" style="    margin-left: 15px;
				margin-right: 15px;">
				<p style="text-align: center;padding-right: 10px;color: white;">Nombre</p>

			</button>
		</label> 

		<label class="item item-input ingresar" >
			<button class="button button-block colorbtn " type="button"  ng-click="getVariedad('Código')" style="    margin-left: 15px;
			margin-right: 15px;">
			<p style="text-align: center;padding-right: 10px;color: white;">Código</p>

		</button>
	</label> 

	 <label class="item item-input ingresar" >
      <button class="button button-block colorbtn " type="button"  ng-click="getVariedad('Empresa')" style="    margin-left: 15px;
    margin-right: 15px;">
        <p style="text-align: center;padding-right: 10px;color: white;">Empresa</p>
        
      </button>
    </label> 

	<label class="item item-input ingresar" >
		<button class="button button-block colorbtn " type="button"  ng-click="barcode()" style="    margin-left: 15px;
		margin-right: 15px;">
		<p style="text-align: center;padding-right: 10px;color: white;">Escanear código</p>

	</button>
</label> 
</h1>

</ion-content>
</ion-view>