<ion-modal-view >     
    <ion-content  class="contenido-login registro" scroll="true"> 
        <div class="row" style="height: 0px !important; " >
            <div class="col col-90" style="height: 0px !important;" >
            </div>      
        </div>
        <div class="list">   
        </div>
        <label><h2  style="text-align: center; color: black;" >Sign Up</h2></label>
        <br>        
        <form id="signupForm" ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
            <div class="list forma-login"> 
                <label class="item item-input border-inferior " style="padding-left: 14px;border-left-width: 2px;">
                    <i class="icon ion-ios-person-outline placeholder-icon enlace black"></i>
                    <input  type="text" ng-model="registrationForm.username" placeholder="Username *" autofocus>
                </label>

                <label class="item item-input border-inferior">          
                    <i class="icon ion-ios-email-outline placeholder-icon enlace black"></i>
                    <input   type="email" ng-model="registrationForm.email" placeholder="email *" />
                </label>

                <label class="item item-input border-inferior ">
                    <i class="icon ion-ios-locked-outline placeholder-icon enlace black"></i>
                    <input  type="password" ng-model="registrationForm.password" placeholder="Password *" id="claveReg" minlength="6">
                </label>

                <label class="item item-input border-inferior ">
                    <i class="icon ion-ios-locked-outline placeholder-icon enlace black"></i>
                    <input  type="password" ng-model="registrationForm.password_confirmation" placeholder="Password confirmation *" minlength="6">
                </label>            
                
                <br>  
                <label>
                    <h2  style="color: black; font-size: 14px;"> * Required fields.</h2>
                </label>
                <div class="row">
                    <div class="col col-50">
                        <label class="item item-input ingresar" >
                            <button class="button button-block  " type="submit" ng-disabled="!registrationForm.username || !registrationForm.email || !registrationForm.password ||!registrationForm.password_confirmation" style="background-color: #a2a2a2">
                                <p style="text-align: center;padding-right: 10px; color:white; ">Sign Up</p>
                            </button>
                        </label> 
                    </div>

                    <div class="col col-50">
                        <label class="item item-input ingresar" >
                            <button class="button button-block  " type="button"  ng-click="closeR()" style="background-color: #a2a2a2">
                                <p style="text-align: center;padding-right: 10px;color: white;">Close</p>
                            </button>
                        </label> 
                    </div>
                </div>
            </div>
        </form>
    </ion-content>  
</ion-modal-view>
<!--</ion-view>-->

