<ion-view hide-nav-bar="true" drag-content="false" > 
    <ion-content  class="contenido-login registro" scroll='true' > 
        <br>
        <label><h2  style="text-align: center; color: black" >Sign In</h2></label>
        <h1 class="centrarTexto ">  
            <i class="icon ion-person" style="font-size: 90px;"></i>
        </h1>
        <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
            <label class="item item-input border-inferior">          
                <i class="icon ion-ios-email-outline placeholder-icon black " style="font-size: 28px;"></i>
                <input  type="email" ng-model="loginForm.email" placeholder="e-mail" autofocus>
            </label>     

            <br>
            <label class="item item-input border-inferior black ">
                <i class="icon ion-ios-locked-outline placeholder-icon black" style="font-size: 28px;"></i>
                <input  type="password" ng-model="loginForm.password" placeholder="password">
            </label>
            <label class="item item-input ingresar" >
                <button class="button button-block" type="submit" ng-disabled="!loginForm.email || !loginForm.password " style="background-color: #a2a2a2"> 
                    Log in
                </button>            
            </label>  

            <div class="row" style="height: 50px;">
                <button class="button button-block" type="button"  ng-click="signUp()" style="background-color: #a2a2a2">                        Sign Up
                </button>                
            </div>
        </form>
    </ion-content>  
</ion-view>